* {
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

@font-face {
    font-family: blackoutMid;
    src: url(../sources/fonts/blackout-master/Blackout\ Midnight.ttf);
}

@font-face {
    font-family: blackoutSun;
    src: url(../sources/fonts/blackout-master/Blackout\ Sunrise.ttf);
}

@font-face {
    font-family: chunkfive;
    src: url(../sources/fonts/chunk-master/ChunkFive-Regular.otf);
}

@font-face {
    font-family: chunkfiveP;
    src: url(../sources/fonts/chunk-master/Chunk\ Five\ Print.otf);
}

@font-face {
    font-family: lmonoBold;
    src: url(../sources/fonts/league-mono-master/ttf/LeagueMono-Bold.ttf);
}

@font-face {
    font-family: lmonoLight;
    src: url(../sources/fonts/league-mono-master/ttf/LeagueMono-Light.ttf);
}

@font-face {
    font-family: lmonoThin;
    src: url(../sources/fonts/league-mono-master/ttf/LeagueMono-Thin.ttf);
}

@font-face {
    font-family: lmonoULight;
    src: url(../sources/fonts/league-mono-master/ttf/LeagueMono-UltraLight.ttf);
}

@font-face {
    font-family: rafale;
    src: url(../sources/fonts/rafale/Rafale-BG.otf);
}

/* START OF LOADER */
.loader {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 30, 30);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* END OF LOADER */


/* START OF HEADER */
.header {
    height: 100vh;
    max-width: 960px;
    margin: auto;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.header-video video {
    min-width: 100%;
    min-height: 100%;
}

.header .row {
    margin: 0px;
    padding: 0px;
}


/* start of navbar */

.header .hamburger {
    position: fixed;
    z-index: 999998;
}

.hamburger .hamburger-inner {
    background-color: rgb(101, 35, 131);
}

.hamburger .hamburger-inner::before,
.header .hamburger span.hamburger-inner::before {
    background-color: rgb(126, 2, 184);
}

.hamburger .hamburger-inner::after,
.header .hamburger span.hamburger-inner::after {
    background-color: rgb(47, 0, 255);
}

.hamburger span.hamburger-inner::after {
    background-color: white;
}

.hamburger span.hamburger-inner::before {
    background-color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: white;

    background-color: rgba(0, 0, 0, 0.89);
    font-family: lmonoThin;
    letter-spacing: 5px;
    font-weight: 100;

    z-index: 99999;
    transition: 0.8s;
    font-size: 5vh;
    opacity: 1;
    transition: 1s;
}

nav ul {
    margin: 0px;
    height: 100%;
    padding: 28vh 0px 32vh 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav div.col-lg-5 {
    margin: 0px;
    font-size: 4vh;
    padding: 28vh 15vw 28vh 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav div.col-lg-5 h1 span {
    font-size: 8vh;
    color: rgb(32, 85, 170);
}

nav ul li {
    flex: 1;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

nav ul li:hover {
    transition: 0.5s;
    color: rgb(92, 92, 92);
    cursor: pointer;
}

.nav-hidden {
    opacity: 0;
    transition: 0.5s;
}

.nav-items-show {
    opacity: 1;
    transition: 1.5s;
}

.nav-items-hidden {
    opacity: 0;
    transition: 1s;
    z-index: -1;
}

/* end of navbar */


.header-content {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(29, 15, 46, 0.877);
    z-index: 9999;
    font-family: blackoutSun;
    font-weight: 400;
}

#displayMoment {
    font-family: lmonoULight;
}

.header-logo, .header-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* for arrow */
/* inspired from https://codepen.io/raf187/pen/BvgGRQ */
.arrow {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow span {
    display: block;
    border-bottom: 5px solid rgb(235, 119, 154);
    border-right: 5px solid rgb(135, 6, 255);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
/* end of arrow*/

/* END OF LOADER */



/* START OF SECTION2 */

.detail-col {
    min-height: 100vh;
}

.detail-col .detail-container:hover {
    background-color: red;
    -webkit-box-shadow: 9px 8px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 8px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 8px 31px 0px rgba(0,0,0,0.75);
}

.detail-col h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.detail-col h1:nth-child(1) {
    font-family: chunkfive;
    font-weight: 300;
    font-size: 5vh;
}

.timing-section {
    margin: 0px;
    color: black;
    background-image: url(../sources/imgs/logo.png);
    background-repeat: no-repeat;
    background-position-x: 450px;
    background-position-y: -200px;
    font-family: chunkfive;
}

div.timer-col.col-lg-5, div.detail-col.col-lg-7 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div.timer-col.col-lg-6 {
    padding: 0;
}

.detail-col h1.about-header {
    font-size: 8vh;
    font-family: blackoutMid;
}

h1.countdown {
    min-width: 85%;
    min-height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4vh 5vw;
    color: #FAFBFC;
    background-color: #FAFBFC;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .8rem;
}

.detail-col h1:nth-child(1) {
    text-align: center;
}


/* END OF SECTION2 */

div.col-lg-7 {
    padding: 0;
    width: 100%;
}

/* Small screens */
@media screen and (max-width: 720px) {

    nav div.col-lg-5 {
        display: none;
    }

    #nav-copyright {
        left: 0;
        text-align: center;
        margin: auto;
        font-size: 16px;
        position: absolute;
        bottom: 80px;
    }

    .loader img {
        width: 250px;
    }

    .header .hamburger {
        top: 25px;
        right: 25px;
    }

    .header-content .header-logo img {
        width: 35vh;
    }

    .header-content .header-text {
        font-size: 5.5vh;
        text-align: center;
        position: relative;
        top: -80px;
    }

    .header-logo, .header-text {
        color: rgba(0, 255, 149, 0.582);
    }

    #displayMoment {
        font-size: 3vh;
    }

    .arrow span {
        width: 16px;
        height: 16px;
    }

    .detail-col {
        padding: 5vh 2vw 5vh 2vw;
    }

    .detail-col h1 {
        line-height: 4vh;
        font-size: 16px;
    }

    .detail-container {
        padding: 5vh 4vw 5vh 4vw;
        box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
        border-radius: .6rem;
    }

    h1.about-header {
        padding: 10vh 0;
    }

    .timing-section {
        background-position-x: 50px;
        background-position-y: -200px;
    }
}

/* Large screens */
@media screen and (min-width: 720px) {

    nav div.col-lg-5 {
        height: 100vh;
    }

    #nav-copyright {
        position: relative;
        bottom: -16vh;
        left: -48vw;
        text-align: center;
        margin: auto;
        font-size: 16px;
    }

    .header .hamburger {
        top: 50px;
        right: 50px;
    }

    .header-content .header-logo img {
        width: 51vh;
    }

    .header-content .header-text h1 {
        font-size: 8vh;
        text-align: center;
    }

    .header-logo, .header-text {
        background: -webkit-linear-gradient(rgb(204, 124, 33),  rgb(185, 34, 92), rgb(34, 185, 148));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #displayMoment {
        font-size: 3.5vh;
    }

    .arrow span {
        width: 30px;
        height: 30px;
    }

    .detail-col {
        padding: 0 5vw;
    }

    .detail-col h1:nth-child(1) {
        padding: 11vh 0 0 0 ;
    }

    .detail-col h1 {
        line-height: 4vh;
        font-size: 25px;
        padding: 6vh 5vw 6vh 5vw;
    }

    .detail-col .detail-container {
        box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
        border-radius: .6rem;
    }

    .timing-section {
        background-position-x: 650px;
        background-position-y: -150px;
    }

    .detail-col .detail-container:hover {
    background-color: red;
    -webkit-box-shadow: 9px 8px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 8px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 9px 8px 31px 0px rgba(0,0,0,0.75);
}

}